/* GENERAL START*/
html {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 16px;
  color: #303030;
  min-width: 320px;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  min-width: 0; /* for flex to break word */
}

.green {
  color: #00aa00 !important;
}

.orange {
  color: #ff7700 !important;
}

.inline-block {
  display: inline-block;
}

.overlay-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  padding: 0.9rem 10px;
  overflow: hidden;
  border: none;
  border-radius: 2rem;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 #b0b0b0, inset 0 0 1px 0 #b0b0b0;
  min-height: 3rem;
  white-space: pre-wrap;
  color: #303030;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
textarea:focus {
  box-shadow: 0 0 2px 1px #b0b0b0, inset 0 0 1px 0 #b0b0b0;
}

textarea.autosize {
  resize: none;
}

.click:active {
  transform: scale(0.9);
}

.jump-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 2px;
  background: #66baff;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 5px 1px #b0b0b0;
  cursor: pointer;
  opacity: 60%;
  transition: all 0.2s;
  z-index: 10;
  font-size: 2.5rem;
}

.jump-top:hover {
  opacity: 100%;
  box-shadow: 0 0 10px 1px #909090, inset 0 0 15px 0 #ffc400;
  background: #ffeeb5;
  color: #505050;
}

.refresh-button {
  position: fixed;
  bottom: 0.5rem;
  right: 3.5rem;
  background: #66baff;
  color: #fff;
  line-height: 2.5rem;
  padding: 0 10px;
  border-radius: 2rem;
  box-shadow: 0 0 5px 1px #b0b0b0;
  cursor: pointer;
  opacity: 70%;
  transition: all 0.2s;
  z-index: 10;
}

.refresh-button:hover {
  opacity: 100%;
  box-shadow: 0 0 10px 1px #909090, inset 0 0 15px 0 #ffc400;
  background: #ffeeb5;
  color: #303030;
}

.button {
  margin: 5px 5px 0 5px;
  border-radius: 2rem;
  padding: 0 10px;
  height: 3rem;
  box-shadow: 0 0 3px 0 #909090, inset 0 0 15px 0 #6ac1ff;
  background: #d2ecff;
  cursor: pointer;
  position: relative;
  transition: 0.2s all;
  border: none;
  color: #505050;
}

.button:hover {
  box-shadow: 0 0 5px 0 #909090, inset 0 0 15px 0 #ffc400;
  background: #ffeeb5;
  color: #000;
}

.link {
  border: none;
  background: none;
  color: #555555;
  cursor: pointer;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.link:hover {
  color: #000000;
  text-decoration: underline;
}

.not-found-wrapper {
  padding: 40px 20px;
}

.not-found-wrapper section {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.not-found-wrapper section h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
}
/* GENERAL END */

/* SPINNER START */
.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* SPINNER END */

/* HEADER START */
header {
  background: #fcfcfc;
  padding: 5px 0;
  font-size: 2rem;
  color: #333333;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: inset 0 0 10px 0 #e0e0e0, 0 0 5px 1px #cccccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* HEADER END */

/* FOOTER START */
footer {
  background: #c0c0c0;
  height: 50px;
  box-shadow: inset 0 0 20px 0 #707070, 0 0 5px 2px #505050;
  color: #fff;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* FOOTER END */

/* PAGINATOR START */
.paginator-container {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.paginator-wrapper button {
  float: left;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0 2px 0 #b0b0b0, inset 0 0 10px 0 #b0b0b0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background: #fafafa;
  cursor: pointer;
  color: #303030;
  transition: 0.2s all;
}

.paginator-wrapper button:not(.inactive):hover {
  color: #000;
  box-shadow: 0 0 5px 0 #909090, inset 0 0 15px 0 #ffc400;
  background: #ffeeb5;
}

.paginator-wrapper .icon > * {
  font-size: 1.5rem;
}

.paginator-wrapper .text {
  width: auto;
  min-width: 2rem;
  font-size: 1.25rem;
  height: 2rem;
  margin: 5px;
  display: flex;
  align-items: center;
}

.paginator-wrapper .inactive {
  background: #b7b7b7;
  color: #ffffff;
  cursor: auto;
  box-shadow: 0 0 3px 0 #505050, inset 0 0 10px 0 #505050 !important;
  cursor: auto;
}

/* CONTENT START */
main {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 80px 20px;
}

/* LIST START */
.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  padding: 5px;
  background: #fdfdfd;
  box-shadow: 0 0 3px 1px #c0c0c0, inset 0 0 10px 0 #f0f0f0;
  border-radius: 30px;
}

.filter-wrapper:hover {
  box-shadow: 0 0 4px 1px #b0b0b0, inset 0 0 10px 0 #f0f0f0;
}

.search-bar {
  position: relative;
  width: 100%;
  margin: 5px 5px 10px 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-input {
  width: 100%;
  border-radius: 2rem;
  transition: 0.2s;
  flex: 10000 10000 310px;
  margin: 5px;
}

.search-control-block {
  display: flex;
  flex: 1 1 auto;
}

.search-control-block .drop-down-menu {
  flex: 1 1 auto;
}

.search-submit {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: none;
  background-color: #ffffff;
  transition: 0.2s all;
  box-shadow: 0 0 2px 0 #b0b0b0, inset 0 0 1px 0 #b0b0b0;
  cursor: pointer;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-submit:hover {
  box-shadow: 0 0 5px 0 #b0b0b0, inset 0 0 1px 0 #b0b0b0;
  background: #fafafa;
}

.search-submit .icon {
  display: block;
  font-size: 2rem;
}

.action-bar {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-bar > div > * {
  float: left;
}

.icon-wrapper {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0 10px;
  box-shadow: 0 0 2px 0 #b0b0b0, inset 0 0 1px 0 #b0b0b0;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  transition: 0.2s all;
  color: inherit;
  text-decoration: none;
}

.drop-down-menu:hover .icon-wrapper,
.icon-wrapper:hover {
  box-shadow: 0 0 5px 0 #b0b0b0, inset 0 0 1px 0 #b0b0b0;
  background: #fafafa;
  color: #000;
}

.drop-down-menu:hover > .icon-wrapper {
  cursor: auto;
}

.icon-wrapper:hover .icon {
  background: #fee48f;
}

.icon-wrapper .icon {
  font-size: 1.75rem;
  background: #d2ecff;
  border-radius: 2rem;
  transition: 0.2s all;
}

.icon-wrapper.warning {
  box-shadow: 0 0 2px 0 #b0b0b0, inset 0 0 1px 0 #b0b0b0;
  background: #ffffff;
  color: inherit;
  cursor: auto;
}

.icon-wrapper.warning .icon {
  background: #fee48f;
}

.icon-wrapper span {
  padding: 5px;
  flex: 10000 10000 auto;
  min-height: 3rem;
  display: flex;
  align-items: center;
}

.drop-down-menu ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 100;
}

.drop-down-menu:hover ul {
  display: block;
}

.drop-down-menu ul li {
  margin: 5px 5px 10px 5px;
  padding: 0 10px;
}

.drop-down-menu ul li:hover {
  background: #f0f0f0 !important;
  box-shadow: 0 0 5px 0 #909090, inset 0 0 1px 0 #909090 !important;
}

.task-collection-title {
  margin: 0 0 30px 0;
  padding: 15px 20px;
  background: #fefefe;
  box-shadow: 0 0 3px 1px #c0c0c0, inset 0 0 15px 0 #f0f0f0;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.task-collection-title .icon {
  font-size: 1.75rem;
  background: #f0f0f0;
  box-shadow: 0 0 3px 1px #a0a0a0, inset 0 0 3px 0 #e0e0e0;
  border-radius: 2rem;
  flex: 1 1 auto;
  padding: 3px;
  color: #676767;
}

.task-collection-title label {
  flex: 10000 10000 auto;
  color: #676767;
  font-size: 1.5rem;
  padding: 0 5px;
}

.task-collection-title label * {
  font-size: 1.5rem;
}

.list-empty-container {
  margin: 30px 0 0 0;
  padding: 15px 25px;
  background: #fefefe;
  box-shadow: 0 0 3px 1px #c0c0c0, inset 0 0 15px 0 #f0f0f0;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.list-empty-container .icon {
  font-size: 1.75rem;
  background: #ffc7a7;
  border-radius: 2rem;
  flex: 1 1 auto;
}

.list-empty-container span {
  padding: 0 5px;
  flex: 10000 10000 auto;
}

.list-grid {
  margin: 0;
  padding: 15px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
}

.list-wrapper {
  border-radius: 30px;
  box-shadow: 0 0 3px 1px #c0c0c0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.list-wrapper:hover {
  box-shadow: 0 0 4px 1px #b0b0b0;
}

.list-wrapper.highlighted {
  background: #feefaa;
}

.list-element-title {
  margin: 15px;
  padding: 10px;
  font-size: 1.25rem;
  box-shadow: inset 0 0 10px 0 #e0e0e0, 0 0 2px 0 #b0b0b0;
  background: #fdfdfd;
  border-radius: 20px;
}

.list-element-feature-wrapper {
  padding: 0 25px;
}

.list-element-feature-wrapper p {
  margin: 10px 0;
}

.list-element-feature-wrapper label {
  font-weight: bold;
  display: block;
}

.list-element.icon-wrapper {
  margin: 20px 15px 10px 15px;
}

.list-element-tag-wrapper {
  margin: 15px 10px;
  display: flex;
  flex-wrap: wrap;
}

.list-element-tag-wrapper span {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  background: #fefefe;
  box-shadow: inset 0 0 10px 0 #f0f0f0, 0 0 2px 0 #cccccc;
  display: inline-block;
  color: #676767;
}

.list-element-icon-wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
  padding: 10px;
  background: #efefef;
  min-height: 60px;
  border-radius: 0 0 30px 30px;
  box-shadow: inset 0 0 15px 0 #d0d0d0, 0 0 2px 0 #cccccc;
}

.list-element-icon-wrapper .icon {
  font-size: 1.75rem;
  border-radius: 2rem;
  width: 2.5rem;
  height: 2rem;
  padding: 5px;
  margin: 5px;
  background: #ffffff;
  box-shadow: 0 0 2px 0 #505050, inset 0 0 1px 0 #505050;
  cursor: pointer;
  transition: 0.2s all;
}

.list-element-icon-wrapper .icon:hover {
  box-shadow: 0 0 5px 0 #b0b0b0, inset 0 0 2px 0 #b0b0b0;
  background: #fee180;
}

.editor-container {
  width: 800px;
  background: #ffffff;
  box-shadow: 0 0 10px 1px #000, inset 0 0 2px 0 #000;
  border-radius: 30px;
  padding: 15px;
}

.editor-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #fcfcfc;
  box-shadow: 0 0 3px 1px #d0d0d0, inset 0 0 15px 0 #d0d0d0;
  border-radius: 20px;
  padding: 10px 0;
}

.editor-wrapper:not(:first-of-type) {
  margin: 15px 0 0 0;
}

.editor-wrapper label {
  width: 100%;
  font-size: 1.5rem;
  padding: 0 20px;
  color: #505050;
}

.form-name-element {
  margin: 5px 10px;
  width: 100%;
}

.editor-wrapper .icon-wrapper {
  margin: 5px 10px;
}

.task-tag-edit-container {
  width: 100%;
  overflow: auto;
  max-height: 40vh;
  margin: 5px 0;
  border: solid #e0e0e0;
  border-width: 1px 0;
  padding: 5px 0;
}

.tag-editor-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.tag-editor-wrapper .icon-wrapper {
  padding: 10px;
}

.tag-editor-wrapper input {
  width: 100%;
  flex: 10000 10000 auto;
  margin: 5px 10px 5px 0;
}

.tag-editor-wrapper .icon-wrapper .icon {
  background: #ffc7a7;
}

.tag-editor-wrapper .icon-wrapper:hover .icon {
  background: #ff9e9e;
}

.editor-container .button-wrapper {
  padding: 10px 5px 0 5px;
}

/* LIST END */
/* CONTENT END */

/*MOBILE WIDTH START*/
@media (max-width: 650px) {
  main {
    padding: 30px 5px;
  }

  .action-bar > *,
  .action-bar > * > * {
    width: 100%;
  }

  .action-bar ul {
    left: 0;
    right: 0;
    margin: 0 15px;
  }

  .editor-container {
    width: 95vw;
  }

  .task-tag-edit-container {
    max-height: 35vh;
  }
}
/*MOBILE WIDTH END*/

/*TOUCH SCREEN START*/
@media (pointer: coarse) {
  .icon-wrapper:hover .icon {
    background: #d2ecff;
  }

  .icon-wrapper:active .icon {
    background: #fee48f;
  }

  .tag-editor-wrapper .icon-wrapper:hover .icon {
    background: #ffc7a7;
  }

  .tag-editor-wrapper .icon-wrapper:active .icon {
    background: #ff9e9e;
  }
}
/*TOUCH SCREEN END*/

/*FIREFOX START*/
@-moz-document url-prefix() {
}
/*FIREFOX END*/
